[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
python-dotenv = "*"
sqlalchemy = "*"

[dev-packages]
black = "*"

[pipenv]
allow_prereleases = true
